<div class='user-box'>
  <h2 class='title-lg mt-lg'>
    <%= @user.name %>
  </h2>

  <div class="mt">
    <%= render 'user_avatar', user: @user %>
  </div>

  <% if current_user == @user %>
    <span class='mt mb-lg'>
      <%= link_to fa_icon('pencil'), edit_user_path(@user) %>
    </span>
  <% end %>

  <p class='text-bold mt-lg mb-lg'><%= nickname_for_display(@user.nickname) %></p>
</div>

<div class='container'>
  <%= link_to 'Cпроси меня', new_question_path(user_id: @user.id),
    class: 'button button-main' %>
  <p class='mt'>
    <%= render 'questions/form', question: @question %>
  </p>
</div>

<% if @questions.present? %>
  <%= render 'questions/question_list', questions: @questions %>
<% else %>
  <%= render 'question_list_empty', user: @user %>
<% end %>
